In [18]:
# SQL_Data_Science_Python
# Data for this project can be downloaded from the below
# Chicago Socioeconomic Indicators - https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01
# Chicago Public Schools - https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01
# Chicago Crime Data - https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

# Ensure that all libraries are installed properly 
!pip install --upgrade ibm_db
!pip install --upgrade ibm_db_sa
!pip uninstall sqlalchemy==1.4 -y && pip install sqlalchemy==1.3.24
!pip install ipython-sql

import ibm_db
import ibm_db_sa
import sqlalchemy

Requirement already satisfied: ibm_db in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (3.1.1)
Requirement already satisfied: ibm_db_sa in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (0.3.7)
Requirement already satisfied: sqlalchemy>=0.7.3 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ibm_db_sa) (1.3.24)
Requirement already satisfied: ibm-db>=2.0.0 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ibm_db_sa) (3.1.1)
Found existing installation: SQLAlchemy 1.3.24
Uninstalling SQLAlchemy-1.3.24:
  Successfully uninstalled SQLAlchemy-1.3.24
Collecting sqlalchemy==1.3.24
  Using cached SQLAlchemy-1.3.24-cp39-cp39-manylinux2010_x86_64.whl (1.3 MB)
Installing collected packages: sqlalchemy
Successfully installed sqlalchemy-1.3.24
Requirement already satisfied: ipython-sql in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (0.4.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlparse in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: sqlalchemy>=0.6.7 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython-sql) (1.3.24)
Requirement already satisfied: ipython>=1.0 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython-sql) (7.29.0)
Requirement already satisfied: prettytable<1 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: six in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: pygments in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (2.10.0)
Requirement already satisfied: pexpect>4.3 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: pickleshare in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: decorator in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: setuptools>=18.5 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (58.0.4)
Requirement already satisfied: backcall in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: traitlets>=4.2 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.18.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)

In [19]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [21]:
# Connet to DB to leverage DB Tables
# %sql ibm_db_sa:// - enter your credentials

In [22]:
# type in your query to retrieve list of all tables in the database for your db2 schema (username)
%sql select TABSCHEMA, TABNAME, CREATE_TIME from SYSCAT.TABLES where TABSCHEMA='RQY96889'
# %sql select COLNAME, TYPENAME, LENGTH from SYSCAT.COLUMNS where TABNAME = 'CHICAGO_CRIME_DATA'

 * ibm_db_sa://rqy96889:***@19af6446-6171-4641-8aba-9dcff8e1b6ff.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30699/BLUDB
Done.

[('RQY96889', 'CHICAGO_PUBLIC_SCHOOLS', datetime.datetime(2022, 4, 5, 14, 56, 1, 231758)),
 ('RQY96889', 'INSTRUCTOR', datetime.datetime(2022, 4, 1, 10, 1, 7, 195845)),
 ('RQY96889', 'PETSALE', datetime.datetime(2022, 3, 29, 8, 25, 57, 639797)),
 ('RQY96889', 'EMPLOYEES', datetime.datetime(2022, 3, 29, 14, 32, 57, 99547)),
 ('RQY96889', 'JOB_HISTORY', datetime.datetime(2022, 3, 29, 14, 32, 57, 212422)),
 ('RQY96889', 'JOBS', datetime.datetime(2022, 3, 29, 14, 32, 57, 319543)),
 ('RQY96889', 'DEPARTMENTS', datetime.datetime(2022, 3, 29, 14, 32, 57, 423676)),
 ('RQY96889', 'LOCATIONS', datetime.datetime(2022, 3, 29, 14, 32, 57, 523441)),
 ('RQY96889', 'PETRESCUE', datetime.datetime(2022, 3, 31, 9, 31, 49, 356747)),
 ('RQY96889', 'INTERNATIONAL_STUDENT_TEST_SCORES', datetime.datetime(2022, 4, 2, 10, 21, 24, 940672)),
 ('RQY96889', 'CHICAGO_SOCIOECONOMIC_DATA', datetime.datetime(2022, 4, 2, 11, 52, 0, 649136)),
 ('RQY96889', 'SCHOOLS', datetime.datetime(2022, 4, 3, 11, 35, 38, 320856)),
 ('RQY96889', 'CENSUS_DATA', datetime.datetime(2022, 4, 4, 9, 15, 59, 979705)),
 ('RQY96889', 'CHICAGO_CRIME_DATA', datetime.datetime(2022, 4, 4, 9, 19, 46, 797970))]

In [23]:
# Problem 1: Find the total number of crimes recorded in the CRIME table.

%sql select COUNT(*) AS NUMBER_OF_CRIMES from CHICAGO_CRIME_DATA

 * ibm_db_sa://rqy96889:***@19af6446-6171-4641-8aba-9dcff8e1b6ff.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30699/BLUDB
Done.

[(533,)]

In [17]:
# Problem 2: List community areas with per capita income less than 11000.

%sql select COMMUNITY_AREA_NAME, PER_CAPITA_INCOME from CENSUS_DATA \
    where PER_CAPITA_INCOME < 11000

 * ibm_db_sa://rqy96889:***@19af6446-6171-4641-8aba-9dcff8e1b6ff.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30699/BLUDB
Done.

[('West Garfield Park', 10934),
 ('South Lawndale', 10402),
 ('Fuller Park', 10432),
 ('Riverdale', 8201)]

In [34]:
# Problem 3: List all case numbers for crimes involving minors.
# CASE_NUMBER, PRIMARY_TYPE (OFFENSE INVOLVING CHILDREN = OFFENSE INVOLVING CHILDREN OR KIDNAPPING , DESCRIPTION (CHILD ABDUCTION/STRANGER)  - CHICAGO_CRIME_DATA

%sql select CASE_NUMBER from CHICAGO_CRIME_DATA where DESCRIPTION like '%MINOR%'

 * ibm_db_sa://rqy96889:***@19af6446-6171-4641-8aba-9dcff8e1b6ff.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30699/BLUDB
Done.

[('HL266884',), ('HK238408',)]

In [39]:
# Problem 4: List all kidnapping crimes involving a child?(children are not considered minors for the purposes of crime analysis)

%sql select CASE_NUMBER, PRIMARY_TYPE, DESCRIPTION from CHICAGO_CRIME_DATA where PRIMARY_TYPE = 'KIDNAPPING'

 * ibm_db_sa://rqy96889:***@19af6446-6171-4641-8aba-9dcff8e1b6ff.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30699/BLUDB
Done.

[('HN144152', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER')]

In [46]:
# Problem 5: What kind of crimes were recorded at schools?

%sql select DISTINCT PRIMARY_TYPE from CHICAGO_CRIME_DATA where LOCATION_DESCRIPTION like '%SCHOOL%'

 * ibm_db_sa://rqy96889:***@19af6446-6171-4641-8aba-9dcff8e1b6ff.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30699/BLUDB
Done.

[('ASSAULT',),
 ('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('CRIMINAL TRESPA',),
 ('NARCOTICS',),
 ('PUBLIC PEACE VI',)]

In [24]:
# Problem 6: List the average safety score for all types of schools.
# Without Altering Data type.

%sql SELECT "Elementary, Middle, or High School",AVG(SAFETY_SCORE) AS AVERAGE_SAFETY_SCORE \
from CHICAGO_PUBLIC_SCHOOLS \
group by "Elementary, Middle, or High School";

 * ibm_db_sa://rqy96889:***@19af6446-6171-4641-8aba-9dcff8e1b6ff.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30699/BLUDB
Done.

[('ES', 49), ('HS', 49), ('MS', 48)]

In [25]:
# Problem 7: List 5 community areas with highest % of households below poverty line.

%sql select COMMUNITY_AREA_NAME, PERCENT_HOUSEHOLDS_BELOW_POVERTY from CENSUS_DATA \
    order by PERCENT_HOUSEHOLDS_BELOW_POVERTY desc nulls last limit 5

 * ibm_db_sa://rqy96889:***@19af6446-6171-4641-8aba-9dcff8e1b6ff.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30699/BLUDB
Done.

[('Riverdale', Decimal('56.5')),
 ('Fuller Park', Decimal('51.2')),
 ('Englewood', Decimal('46.6')),
 ('North Lawndale', Decimal('43.1')),
 ('East Garfield Park', Decimal('42.4'))]

In [55]:
# Problem 8: Which community area(number) is most crime prone?

%sql select COMMUNITY_AREA_NUMBER, COUNT(COMMUNITY_AREA_NUMBER) as CRIMES_REPORTED from CHICAGO_CRIME_DATA \
group by COMMUNITY_AREA_NUMBER \
order by Crimes_Reported DESC \
limit 1

 * ibm_db_sa://rqy96889:***@19af6446-6171-4641-8aba-9dcff8e1b6ff.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30699/BLUDB
Done.

[(25, 43)]

In [49]:
# Problem 9: Use a sub-query to find the name of the community area with highest hardship index.

%sql select COMMUNITY_AREA_NAME \
from CENSUS_DATA \
where HARDSHIP_INDEX = (SELECT MAX(HARDSHIP_INDEX) FROM CENSUS_DATA);

 * ibm_db_sa://rqy96889:***@19af6446-6171-4641-8aba-9dcff8e1b6ff.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30699/BLUDB
Done.

[('Riverdale',)]

In [114]:
# Problem 10: Use a sub-query to determine the Community Area Name with most number of crimes

%sql SELECT COMMUNITY_AREA_NAME \
from CENSUS_DATA \
WHERE COMMUNITY_AREA_NUMBER = (SELECT CD.COMMUNITY_AREA_NUMBER FROM CHICAGO_CRIME_DATA AS CD \
GROUP BY CD.COMMUNITY_AREA_NUMBER \
ORDER BY COUNT(CD.COMMUNITY_AREA_NUMBER) DESC LIMIT 1)

 * ibm_db_sa://rqy96889:***@19af6446-6171-4641-8aba-9dcff8e1b6ff.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30699/BLUDB
Done.

[('Austin',)]